html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
  position: relative !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

/* Header */

.navbar-nav {
  padding-right: 14px !important;
 font-family: 'Roboto', sans-serif;
}
.navbar {
  position: fixed;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 3;
  background-color: #f7cc0c;
  border-bottom: 1px solid #dce4ec;
}
.header-content {
  padding-top: 6%;
}
.source{
  font-size:14px;
   color: #023347 !important;
}
.sourcetitle{
  margin-top:3%;
}
.font-weight-light {
  font-weight: 300!important;
  font-size: 0.8rem;
  color: #023347 !important;
}
.navbar li a {
  color: #023347 !important;
  text-decoration: none;
}

.navbar li.active {
  background-color: #023347;
 /*  text-transform: lowercase; */
  padding: 2px 30px !important;
  color: #fff;
  border-radius: 50px;
 font-family: 'Roboto', sans-serif;
}
.navbar li.active a {
  color: white !important;
  /* text-transform: lowercase; */
}
.navbar.scrolled {
  background-color: #023347 !important;
  transition: background-color 200ms linear;
  border-bottom: 1px solid #dce4ec;
  
}
.navbar.scrolled li a{
color:#fff !important;
  
}

.navbar.scrolled li.active {
  background-color: #ffc728 !important;
  /* text-transform: lowercase; */
  padding: 2px 30px !important;
  color: #fff !important;
  border-radius: 50px;
 font-family: 'Roboto', sans-serif;
}

.logo {
  width: 75%;
  height: auto;
}

.custom-btn {
  padding: 10px 35px !important;
  color: #fff !important;
  border-radius: 50px;
  background-color: #023347;
 font-family: 'Roboto', sans-serif;
}


.custom-btn:hover{
  text-decoration: none;
 /*  background-color: #023347; */
}

#header {
  position: relative;
  width: 100%;
  height: 80vh;
  background: #f7cc0c;
  box-sizing: border-box;
  padding: 30px;
  color: #023347;
  margin-bottom: 100px;
 font-family: 'Roboto', sans-serif;
}

#header::after {
  position: absolute;
  width: 100%;
  height: 400px;
  content: "";
  background: inherit;
  z-index: -1;
  top: 45%;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-5deg);
}

.intro-text {
  padding-top: 7%;
}

.intro-text > h2,
p {
  margin-bottom: 25px !important;
}

.nav-item {
  margin-right: 15px !important;
}

.sign-up-btns {
  float: right;
}

.header-img {
  height: 84%;
  margin-left: 10%;
}

/* Stats */

.stats {
  position: relative;
  width: 100%;
  /*height: 160vh;*/
  padding-top: 8%;
/*   background: url(../imgs/illustration-2.png);
 */  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: left;
  background-size: 70%;
  background-position-y: 230px;
  background-position-x: -30%;
  color: #023347 !important;
 font-family: 'Roboto', sans-serif;
 
}
.carddiv{
  padding-right: 26px !important;
    padding-left: 26px !important;
}
.main-text {
  margin-bottom: 5%;
 font-family: 'Roboto', sans-serif;
}

.illustration-2 {
  height: auto;
  max-width: 100%;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin-bottom: 1.5rem;
  position: relative;
  width: 100%;
  color: rgb(3, 3, 95);
 /*  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
 font-family: 'Roboto', sans-serif;
}

.card1 {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 485px;

  position: relative;
border: 1px solid rgba(0,0,0,.125);
  color: rgb(3, 3, 95);
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
 font-family: 'Roboto', sans-serif;
}

/* How to use */

.how-to-use {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 5%;
  color: #023347;
 font-family: 'Roboto', sans-serif;
 margin-top:5%;
}

.how-to-use::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  right: 0;
  bottom: 0;
  left: 0;
  bottom: 0;
  left: 0;
  /* transform-origin: top right; */
  transform: skewY(-5deg);
  background-color: #cccc;
  color: rgb(3, 3, 95);
}

#freelancers {
  padding-bottom: 10vh;

}
#smes {
  padding-bottom: 10vh;
  width: 100%;
  margin-left: -130px;
}

.number {
  border: 2px solid #080141;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  margin: 0 auto;
}

.how-img {
  margin-top: 20%;
  margin-bottom: 20%;
}

.how-img > img {
  max-width: 100%;
}

.how-to-text {
  text-transform: uppercase;
  font-size: 1rem;
 font-family: 'Roboto', sans-serif;
  color: #023347 !important;
}

.card-size {
  height: 370px;
}

.card-size1 {
  height: 300px;
}

.testimonial {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 2%;
  margin-bottom: 11vh;
 font-family: 'Roboto', sans-serif;
}
.ourwhyIcon{
  width: 15%;
  float: left;
}


/* Contact us */

.contactus {
  position: relative;
  width: 100%;
  height: auto;
  background: #023347;
  box-sizing: border-box;
  padding: 30px;
  color: white;

 font-family: 'Roboto', sans-serif;
  /* padding-top: 12%;  */
}

.contactus::after {
  position: absolute;
  content: "";
  pointer-events: none;
  top: -150px;
  left: -1%;
  z-index: -1;
  width: 220%;
  height: 100%;
  background: inherit;
  z-index: -1;
  transform: rotate(-3deg);
}

.w3-black,
.w3-hover-black:hover {
  background-color: inherit !important;
  width: 800px;
  margin: auto;
  align-content: center;
 font-family: 'Roboto', sans-serif;
  border: none !important;
  text-align: center !important;
  text-decoration: none !important;
 
}


.w3-red{
  color: #fff !important;
  background-color: #023347 !important;
 font-family: 'Roboto', sans-serif;
  border: none !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 16px !important;
 
}

button, select {
  text-transform: none;
  color: #ffffff;
  padding: 8px 20px;
  width: 200px;
  background-color: #ffc728 !important;
  cursor: pointer;
  user-select: none;
  margin: auto
}
button:focus {
  outline: 1px gray !important;
  /* outline: 5px auto -webkit-focus-ring-color; */
}

 .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap !important;
  margin: 15px;
  margin-left: 15px;
 font-family: 'Roboto', sans-serif;
} 



.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: visible !important;
  list-style: none;
  padding: 0;
  z-index: 1;
  width: 600px;
  height: 300px;
}


.padding-arround{
  padding: 0 10% !important;
}
.iconspan{
  color:#fff; 
  font-size:22px;
  margin-right: 2%;
}